@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "poppins", "sans-serif";
}

h1 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  color: #e5f1fa50;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
p {
  font-size: 18px;
}
